.button{
  margin-left: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #7ca2ea;
  color: #ffffff;
  border: none;
}
.eachItem{
  margin-bottom: 10px;
  list-style: square;
}
input{
  border-radius: 8px;
  font-size: 17px;
  padding: 15px 5px;
}